<!--
  This template loads for the 'dcart' state (app.js)
-->
<ion-view view-title="Cart">
    <ion-content class="cart">
        <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="data in cart.items track by data.id">
                <img ng-src="{{data.imageUrl}}" alt="" />
                <h2 class="positive">{{data.name}}</h2>
                <div>
                    <!--<i class="ion-stop positive"></i>
                    M-->
                    <div class="col">
                        <select ng-model="data.quantity" ng-options="q for q in generateQuantitiesRange(data.quantity)" ng-init="origQty = data.quantity" ng-change="changeLineItem(data, origQty)"></select>
                        <a href="#" class="trash" ng-click="removeLineItem(data.id)">
                            <i class="ion-trash-a"></i>
                        </a>
                        <div class="pull-right">{{data.extendedPrice.formatedAmount}}</div>
                        <div class="pull-right" ng-if="data.quantity>1">{{data.placedPrice.formatedAmount}} * {{data.quantity}} =&nbsp;</div>
                    </div>
                </div>
            </div>

            <!--<div class="item item-thumbnail-left">
                <img src="img/thumb/p_5.jpg" alt="" />
                <h2 class="positive">Zara shirt</h2>
                <div>
                    <i class="ion-stop energized"></i>
                    M
                    <div class="col">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <a href="#" class="trash">
                            <i class="ion-trash-a"></i>
                        </a>
                        <div class="pull-right">
                            $20
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-thumbnail-left">
                <img src="img/thumb/p_3.jpg" alt="" />
                <h2 class="positive">Zara shirt</h2>
                <div>
                    <i class="ion-stop dark"></i>
                    M
                    <div class="col">
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <a href="#" class="trash">
                            <i class="ion-trash-a"></i>
                        </a>
                        <div class="pull-right">
                            $10
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- Calculate price -->
            <!--<div class="item stable-bg">
              <span>Shipping</span>
              <div class="pull-right">$6</div>
            </div>-->
            <div class="item stable-bg">
                <b>Total</b>
                <div class="pull-right">{{cart.total.formatedAmount}}</div>
            </div>
        </div>
        <!-- Checkout button -->
        <div class="padding">
            <button class="button button-block button-energized" ui-sref="checkout_address" ng-disabled="!cart.itemsCount">
                Checkout
            </button>
        </div>
    </ion-content>
</ion-view>
