<!--
  This template loads for the 'category'' state (app.js)
-->
<ion-view view-title="{{name}}" hide-back-button="false">
    <ion-content class="">
        <!-- List of items: 2 columns-->
        <div class="row flex-wrap">
            <div class="col-50" ng-repeat="item in entries">
                <a ui-sref="product({id: '{{item.id}}', name: '{{item.name}}'})">
                    <img class="full-image" ng-src="{{ item.primaryImage.url }}" alt="" />
                    <span class="product-title">{{ item.name }}</span>
                    <span class="price dark" ng-if="item.price.actualPrice.amount">${{ item.price.actualPrice.amount}}</span>
                    <span class="old-price" ng-if="item.price.actualPrice.amount < item.price.listPrice.amount">${{ item.price.listPrice.amount }}</span>
                </a>
            </div>
        </div>
        <ion-infinite-scroll ng-if="pageSettings.totalItems > pageSettings.currentPage * pageSettings.itemsPerPageCount" on-infinite="loadNextPage()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
