<!--
  This template loads for the 'checkout_shipping' state (app.js)
-->
<ion-view view-title="Shipping">
    <ion-content class="checkout">
        <ion-list>
            <ion-radio ng-model="checkout.selectedShippingMethod" ng-value="data" ng-repeat="data in checkout.availableShippingMethods">
                {{data.name}}
                <p class="text-hint">{{data.price.formatedAmount}}<span ng-if="data.optionDescription"> - {{data.optionDescription}}</span></p>
            </ion-radio>
        </ion-list>
        <!-- Shipping address-->
        <div class="padding">
            <h4 class="text-center">Shipping address</h4>
            <span ng-bind="checkout.shipment.deliveryAddress.firstName"></span> <span ng-bind="checkout.shipment.deliveryAddress.lastName"></span><br />
            <span ng-bind="checkout.shipment.deliveryAddress.line1"></span><span ng-if="checkout.shipment.deliveryAddress.line2" ng-bind="', ' + checkout.shipment.deliveryAddress.line2"></span><br />
            <span ng-bind="checkout.shipment.deliveryAddress.city"></span><span ng-if="checkout.shipment.deliveryAddress.regionName" ng-bind="', ' + checkout.shipment.deliveryAddress.regionName"></span>, <span ng-bind="checkout.shipment.deliveryAddress.postalCode"></span><br />
            <span ng-bind="checkout.shipment.deliveryAddress.countryName"></span><br ng-if="checkout.shipment.deliveryAddress.phone" />
            <span ng-if="checkout.shipment.deliveryAddress.phone" ng-bind="checkout.shipment.deliveryAddress.phone"></span>
        </div>
        <div class="padding">
            <button class="button button-block button-energized" ng-click="submitStep()" ng-disabled="!checkout.selectedShippingMethod || checkout.shippingMethodProcessing">
                Next step
            </button>
        </div>
    </ion-content>
</ion-view>
