<!--
  This template loads for the 'chekcout_address' state (app.js)
-->
<ion-view view-title="Address">
  <ion-content class="checkout">
    <div class="list">
      <div class="item">
        <input type="text" placeholder="First name"/>
      </div>
      <div class="item">
        <input type="text" placeholder="Last name"/>
      </div>
      <div class="item">
        <input type="text" placeholder="Address line 1"/>
      </div>
      <div class="item">
        <input type="text" placeholder="Address line 2"/>
      </div>
      <div class="item">
        <input type="text" placeholder="City"/>
      </div>
      <div class="item">
        <input type="text" placeholder="Zip"/>
      </div>
      <div class="item">
        <input type="text" placeholder="State"/>
      </div>
      <div class="item">
        <input type="text" placeholder="Country"/>
      </div>
    </div>

    <!-- Next button -->
    <div class="padding">
      <button class="button button-block button-energized" ui-sref="checkout_shipping">
        Next step
      </button>
    </div>

  </ion-content>
</ion-view>
