<!--
  This template loads for the 'checkout_address' state (app.js)
-->
<ion-view view-title="Address">
    <ion-content class="checkout">
        <form accept-charset="UTF-8" name="formCustomerInformation" novalidate="novalidate">
            <div class="list">
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.firstName" type="text" placeholder="First name" required />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.lastName" type="text" placeholder="Last name" required />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.line1" type="text" placeholder="Address line 1" required />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.line2" type="text" placeholder="Address line 2" />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.city" type="text" placeholder="City" required />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.postalCode" type="text" placeholder="Zip" required />
                </div>
                <div class="item">
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" max-selected-items="1" placeholder="Country" required
                           ng-model="checkout.shipment.deliveryAddress.countryName"
                           item-value-key="name"
                           item-view-value-key="name"
                           items-method="searchCountries(query)"
                           items-clicked-method="selectCountry(callback)"
                           selected-items-label="Selected country:" />
                </div>
                <div class="item" ng-if="checkout.countryRegions.length">
                    <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" max-selected-items="1" placeholder="Region"
                           ng-model="checkout.shipment.deliveryAddress.regionName"
                           item-value-key="name"
                           item-view-value-key="name"
                           items-method="searchRegions(query)"
                           items-clicked-method="selectRegion(callback)"
                           external-model="checkout.selectedRegions"
                           selected-items-label="Selected region:" />
                </div>
                <div class="item">
                    <input ng-model="checkout.shipment.deliveryAddress.email" type="email" placeholder="Email" required />
                </div>
            </div>
            <!-- Next button -->
            <div class="padding">
                <button class="button button-block button-energized" ng-click="submitStep()" ng-disabled="formCustomerInformation.$invalid || checkout.shippingAddressProcessing">
                    Next step
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
