<!--
  This template loads for the 'checkcout_payment' state (app.js)
-->
<ion-view view-title="Payment">
    <ion-content class="checkout">
        <ion-list>
            <ion-radio ng-model="checkout.paymentMethodCode" ng-value="data.gatewayCode" ng-repeat="data in checkout.availablePaymentMethods">
                {{data.name}}
                <p class="text-hint">{{data.description}}</p>
            </ion-radio>
            <!--<ion-radio ng-model="choice" ng-value="'A'">
                Credit card
                <p class="text-hint">Visa, Mastercard</p>
            </ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">
                Paypal
                <p class="text-hint">successdt@hotmail.com</p>
            </ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">
                Apple pay
                <p class="text-hint">applepay@gmail.com</p>
            </ion-radio>-->
        </ion-list>
        <div class="list">
            <!--<div class="item">
                <input type="text" placeholder="Credit card #No" />
            </div>
            <div class="item">
                <input type="text" placeholder="Expires" />
            </div>
            <div class="item">
                <input type="text" placeholder="CVV-Code" />
            </div>-->
        </div>
        <div class="item">
            <div>Subtotal<div class="pull-right">{{checkout.subTotal.formatedAmount}}</div></div>
            <div>Discount<div class="pull-right">{{checkout.discountTotal.formatedAmount}}</div></div>
            <div>Shipping<div class="pull-right">{{checkout.shippingTotal.formatedAmount}}</div></div>
            <div>Taxes<div class="pull-right">{{checkout.taxTotal.formatedAmount}}</div></div>
        </div>
        <div class="item stable-bg">
            <b>Total</b>
            <div class="pull-right">{{checkout.total.formatedAmount}}</div>
        </div>
        <div class="padding">
            <button class="button button-block button-energized" ng-click="completeOrder()" ng-disabled="!checkout.paymentMethodCode || checkout.orderProcessing">
                Submit order
            </button>
        </div>
    </ion-content>
</ion-view>
