<ion-view view-title="Login" hide-nav-bar="true" class="stable-bg">
    <ion-content>
        <!-- Logo -->
        <div class="padding text-center">
            <h1>
                <i class="energized ion-bag"></i>
            </h1>
            <h2 class="energized">VirtoShop</h2>
            <p class="energized">Mobile E-commerce</p>
        </div>

        <!-- Login form -->
        <form accept-charset="UTF-8" name="loginForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="user.email" type="email" placeholder="Email" required>
                </label>
                <label class="item item-input">
                    <input ng-model="user.password" type="password" placeholder="Password" required>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-energized" ng-click="login()" ng-disabled="loginForm.$invalid||loginProgress">
                    Login
                </button>
            </div>

            <!-- Social login -->
            <div class="padding row">
                <div class="col facebook-login icon-left social-button">
                    <i class="icon ion-social-facebook"></i>
                    <span>Facebook</span>
                </div>
                <div class="col twitter-login icon-left social-button">
                    <i class="icon ion-social-twitter"></i>
                    Twitter
                </div>
            </div>
        </form>

        <!-- Other links -->
        <div class="padding row">
            <div class="col">
                <span class="dark">Forgot password?</span>
            </div>
            <div class="col">
                <a ui-sref="register" class="dark">New here? Sign up</a>
            </div>
        </div>
    </ion-content>
</ion-view>
