<ion-view view-title="Login" hide-nav-bar="true" class="stable-bg">
  <ion-content>
    <!-- Logo -->
    <div class="padding text-center">
      <h1>
        <i class="energized ion-bag"></i>
      </h1>
      <h2 class="energized">ionShop</h2>
      <p class="energized">Mobile E-commerce</p>
    </div>

    <!-- Signup form -->
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Your name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-energized" ui-sref="home">
        Create account
      </button>
    </div>

    <!-- Other links -->
    <div class="padding row">
      <div class="col">
        <span class="dark">Forgot password?</span>
      </div>
      <div class="col">
        <a ui-sref="login" class="dark">Have account? Login</a>
      </div>
    </div>
  </ion-content>
</ion-view>
